body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display:grid;
  width:40vw;
  height:40vw;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(5,1fr);
  gap:0.5rem;
}

.container>*{
  border:1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn{
  padding:1rem 2rem;

}
.btn_container{
  margin:1rem 0 0 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
}

